<mat-sidenav-container class="example-container" (backdropClick)="close()">
  <!-- sidebar content -->
  <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- toolbar -->
    <mat-toolbar>
      <!-- call sidebar -->
      <button mat-icon-button class="example-icon" aria-label="Open menu" (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <span>YouTube video URL Player</span>
    </mat-toolbar>

    <!-- search bar and video player -->
    <app-main-content></app-main-content>
  </mat-sidenav-content>
</mat-sidenav-container>